.header{
    padding: 20px 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-content: center;
  
    background-color: #1e87f0;
  }
  
  .header__heading{
    font-size: 2rem;
    line-height: 2.3rem;
    margin: 0;
  }
  
  .header__heading-link{
    color: white;
    
  }
  
  .header__heading-link:hover{
    color: white;
    text-decoration: none;
  }
  
  .header__nav{
    display: block;
    margin-left: auto;
    color: white;
    font-size: 1.5rem;
    line-height: 2.3rem;
  }
  
  .header__nav:hover{
    color: #d3e9ff;
    text-decoration: none;
}

.user-info--wrapper{
    max-width: 800px;
    margin: 0 auto;
}

.user-info--form{
    padding: 0 30px;
}

.user-info--form label{
    display: block;
    margin-bottom: 10px;
}

.uk-input{
    width: 400px;
}